@model IEnumerable<era_Computacion.Models.ClienteCustom>


@{
    ViewData["Title"] = "Clientes";

    string ru = ViewData["ReturnURL"] as string;
}


<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">

        <div class="col-12">
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Clientes</h4>
                        <div class="d-flex align-items-center">

                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row col-md-12">
                            <div class="col-md-12 col-lg-4 col-xl-4 text-right">
                                <br />
                                <a class='btn btn-info btm-xs' href='/Usuarios/agregarInstitucion'>Agregar institución</a>

                            </div>
                            <br />
                            <div class="col-md-12 col-lg-4 col-xl-4 text-right">
                                <br />
                                <a class='btn btn-info btm-xs' href='#' onclick="asignarEmpresa()">Asignar Empresa</a>

                            </div>
                            <br />
                            <div class="col-md-12 col-lg-4 col-xl-4 text-right">
                                <br />
                                <div class=" upgrade-btn">
                                    <a href="@Url.Action("agregarCliente","Usuarios")" class="btn btn-info text-white">Agregar cliente</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br />
            </div>
            <div class="card">
                <div class="card-body">


                    <div class="table-responsive ">
                        <table id="tablaClientes" class="table">
                            <thead>


                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Dirección
                                    </th>
                                    <th>
                                        Teléfono
                                    </th>
                                    <th>
                                        Paquete
                                    </th>
                                    <th>
                                        Institucion(es)
                                    </th>
                                    <th> Estado </th>
                                    <th>
                                        Editar / Mostrar
                                    </th>
                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.direccion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.telefono)
                                        </td>
                                        <td>
                                            @{
                                                if (item.paquete == null)
                                                {
                                                    @Html.Raw("Sin paquetes")
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.paquete)
                                                }
                                            }


                                        </td>
                                        <td>
                                            @{

                                                if (item.instituciones == null)
                                                {
                                                    @Html.Raw("<div class='row col-md-12'><div class='col-md-12 text-center'><a class='btn btn-info btm-xs' href='#' onclick='asignarEmpresa()'>Asignar Empresa</a><hr></div></div>");
                                                }
                                                else
                                                {
                                                    int count = 0;
                                                    foreach (var itemFor in item.instituciones)
                                                    {
                                                        if (count + 1 == item.instituciones.Count())
                                                        {
                                                            @Html.Raw("<div class='row col-md-12'> <div class='col-md-6'> <p>" + itemFor.Nombre + "</p> </div> <div class='col-md-3 col-sm-3 col-3 text-center'> <a href='/Usuarios/editarInstitucion?id="+itemFor.IdInstitucion+"' class='btn btn-info btn-xs'><i class='fa fa-edit'></i></a> </div> <div class='col-md-3 col-sm-3 col-3 text-center'> <a href='#' onclick='delInstitucion("+itemFor.IdInstitucion+","+item.id+")' class='btn btn-danger btn-xs'><i class='fa fa-trash'></i></a> </div>  </div> ")

                                                        }
                                                        else
                                                        {
                                                            @Html.Raw("<div class='row col-md-12'> <div class='col-md-6'> <p>" + itemFor.Nombre + "</p> </div> <div class='col-md-3 col-sm-3 col-3 text-center'> <a href='/Usuarios/editarInstitucion?id="+itemFor.IdInstitucion+"' class='btn btn-info btn-xs'><i class='fa fa-edit'></i></a> </div> <div class='col-md-3 col-sm-3 col-3 text-center'> <a href='#' onclick='delInstitucion("+itemFor.IdInstitucion+","+item.id+")' class='btn btn-danger btn-xs'><i class='fa fa-trash'></i></a> </div><div class='col-md-12'><hr></div> </div> ")

                                                        }
                                                        count++;
                                                    }
                                                }

                                            }
                                        </td>

                                        <td id="@Html.DisplayFor(modelItem => item.id)Dato">
                                            @if (item.estatusid == 1)
                                            {
                                                <a href='#' class='btn btn-success btn-sm' onclick='DeleteEquip(@Html.DisplayFor(modelItem => item.id))'><i class='fa fa-check'></i></a>
                                            }
                                            @if (item.estatusid == 2)
                                            {
                                                <a href='#' class='btn btn-danger btn-sm' onclick='ActivateEquip(@Html.DisplayFor(modelItem => item.id))'><i class='fa fa-minus'></i></a>
                                            }

                                        </td>
                                        <td>
                                            <a class='btn btn-info btm-sm' href='/Usuarios/editarCliente?id=@Html.DisplayFor(modelItem => item.id)'><i class='fa fa-edit'></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<!-- Page Heading -->
<script>
    function asignarEmpresa() {
        var url1 = '@Url.Content("~/")' + "Usuarios/getSelects";
        var StringOption;
        $.ajax({
            type: 'POST',
            url: url1,
            cache: false,
            success: function (data) {
                swal.fire({
                    title: 'Asignar Usuario - Institución',
                    type: 'info',


                    html:'<h2>Usuario</h2> <select id="swal-input7" class="form-control mb-1" placeholder="Usuario" >' + data.usuarios + '</select>' +
                        '<h2>Instituciones</h2> <select id="swal-input8" class="form-control mb-1" placeholder="Instituciones" >' + data.instituciones + '</select>',
                    showCloseButton: true,
                    showCancelButton: true,
                    focusConfirm: false,
                    confirmButtonText:
                        '<i class="fa fa-thumbs-up"></i>Asignar',
                    confirmButtonAriaLabel: 'Asignar',
                    cancelButtonText:
                        '<i class="fa fa-thumbs-down">Cancelar</i>',
                    cancelButtonAriaLabel: 'Cancelar',

                    preConfirm: function () {
                        return new Promise(function (resolve) {
                            resolve([
                                
                                $('#swal-input7').val(),
                                $('#swal-input8').val()
                            ])
                        })
                    },

                }).then(function (result) {
                    var url2 = '@Url.Content("~/")' + "Usuarios/asignarInstitucion/";

                    $.ajax({
                        type: 'GET',
                        url: url2,
                        data: { idUsuario: result.value[0], idInstitucion: result.value[1] },
                        cache: false,
                        success: function (data) {
                            if (data==true) {
                                new PNotify({
                                    title: 'Éxito',
                                    text: 'Se ha asignado correctamente.',
                                    type: 'success'
                                });
                                window.location.href = "/Usuarios/ListClientes";
                            } else if(data==false) {
                                new PNotify({
                                    title: 'Error',
                                    text: 'Ya esta asignado a esta empresa',
                                    type: 'error'
                                });
                            }
                        }

                    });




                }).catch(swal.noop);
            }
        });



    }

</script>

<script>
    $(document).ready(function calldata() {

        $('#tablaClientes').DataTable({
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            "destroy": true,
            "pageLength": 10,
            "order": [[0, "desc"]],
            'bVisible': false,

            "aoColumnDefs": [
                { "sClass": "text-center", "aTargets": [2, 3] }
            ]
        });

    });
</script>

<script>


        function delInstitucion(DataID,idUser) {
        if (confirm("¿Está seguro de deshacer la relación?")) {
            DeleteI(DataID,idUser);
        }
        else {
            return false;
        }
    }


    function DeleteI(DataID,idUser) {
        var url = '@Url.Content("~/")' + "Usuarios/desactivateInstitucion";
        $.post(url, { id: DataID, idUser: idUser }, function (data) {
            if (data == "Desactivado") {
                new PNotify({
                    title: 'Desactivado',
                    text: 'Se ha eliminado la relación correctamente.',
                    type: 'success'
                });
                window.location.href = "/Usuarios/ListClientes";
            }
            else {
                alert("Ups! Algo malo ocurrió");
            }
        });
    }


    function DeleteEquip(DataID) {
        if (confirm("¿Está seguro de desactivar el cliente?")) {
            Delete(DataID);
        }
        else {
            return false;
        }
    }


    function Delete(DataID) {
        var url = '@Url.Content("~/")' + "Usuarios/desactivateUsuario";
        $.post(url, { ID: DataID }, function (data) {
            if (data == "Desactivado") {
                new PNotify({
                    title: 'Desactivado',
                    text: 'Se ha desactivado el usuario correctamente.',
                    type: 'success'
                });
                var str = "Dato";
                var str2 = "#" + DataID;
                $(str2.concat(str)).empty();

                $("<a href='#' class='btn btn-danger btn-sm' onclick=ActivateEquip('" + DataID + "'); ><i class='fa fa-minus'></i></a>").appendTo(str2.concat(str));
            }
            else {
                alert("Ups! Algo malo ocurrió");
            }
        });
    }

    function ActivateEquip(CustomerID) {
        if (confirm("¿Está seguro de activar el usuario?")) {
            Activate(CustomerID);
        }
        else {
            return false;
        }
    }


    function Activate(DataID) {
        var url = '@Url.Content("~/")' + "Usuarios/activateUsuario";
        $.post(url, { ID: DataID }, function (data) {
            if (data == "Activado") {
                new PNotify({
                    title: 'Activado',
                    text: 'Se ha activado el usuario correctamente.',
                    type: 'success'
                });
                var str = "Dato";
                var str2 = "#" + DataID;
                $(str2.concat(str)).empty();

                $("<a href='#' class='btn btn-success btn-sm' onclick=DeleteEquip('" + DataID + "'); ><i class='fa fa-check'></i></a>").appendTo(str2.concat(str));

            }
            else {
                alert("Ups! Algo malo ocurrió");
            }
        });
    }
</script>
