@model era_Computacion.Models.db.Infofacturacion
@{
    ViewData["Title"] = "Editar factura";
}
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-5">
                <h4 class="page-title">@ViewData["Title"]</h4>

            </div>

        </div>
    </div>
<hr />
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">

        <!-- Column -->
        <div class="col-lg-12 col-xlg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material" asp-action="editarFactura" enctype="multipart/form-data">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="IdInfoFac" value="@Model.IdInfoFac" type="hidden" />

                            <input asp-for="RVentas" value="@Model.RVentas" type="hidden" />

                            <div class="form-group col-md-6">
                                <label class="control-label">Clave de facturacion</label>
                                <input asp-for="ClaveFacturacion" type="text" required class="form-control" />
                                <input type="hidden" id="costoCamara" value="0" />
                            </div>

                            <div class="form-group col-md-6">
                                <label class="control-label">Documento</label><br />
                                <span class="btn btn-success fileinput-button">
                                    <span>Selecciona una imagen</span>
                                    <input accept="image/jpeg, image/png, image/gif, application/pdf"
                                           id="files" name="files" type="file" />
                                </span>
                            </div>


                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-success">Editar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->

    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
});
        function actualiza() {
            var camaras = $("#costoCamara").val() * $("#cantcamaras").val();
            var dvr = $("#costoDvr").val() * $("#cantdvr").val();
            var hdd = $("#costoHDD").val() * $("#cantdiscoduro").val();
            var instalacion = $("#costoInstalacion").val() * $("#cantinstalacion").val();
            var total = parseFloat(camaras) + parseFloat(dvr) + parseFloat(hdd) + parseFloat(instalacion);
            $("#texto").html("$" + total);
            $("#precio").val(total);
        }

        $("#cantcamaras").change(function () {
            actualiza();
        });

        $("#cantdvr").change(function () {
            actualiza();
        });

        $("#cantdiscoduro").change(function () {
            actualiza();
        });

        $("#cantinstalacion").change(function () {
            actualiza();
        });

        $("#camaras").change(function () {
        var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
            $.post(url, { id: $("#camaras").val() }, function (data) {
                if (data > 0) {
                    $("#costoCamara").val(data);
                    actualiza();
                }
                else {
                    $("#costoCamara").val(0);
                    actualiza();
                }
            });
        });

        $("#dvrs").change(function () {
        var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
            $.post(url, { id: $("#dvrs").val() }, function (data) {
                if (data > 0) {
                    $("#costoDvr").val(data);
                    actualiza();
                }
                else {
                    $("#costoDvr").val(0);
                    actualiza();
                }
            });
        });

        $("#discoduros").change(function () {
        var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
            $.post(url, { id: $("#discoduros").val() }, function (data) {
                if (data > 0) {
                    $("#costoHDD").val(data);
                    actualiza();
                }
                else {
                    $("#costoHDD").val(0);
                    actualiza();
                }
            });
        });

        $("#instalacion").change(function () {
        var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
            $.post(url, { id: $("#instalacion").val() }, function (data) {
                if (data > 0) {
                    $("#costoInstalacion").val(data);
                    actualiza();
                }
                else {
                    $("#costoInstalacion").val(0);
                    actualiza();
                }
            });
        });
    </script>
</div>


