@model era_Computacion.Models.db.Solicitud
@{
    ViewData["Title"] = "Editar Solicitud";
}
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-5">
                <h4 class="page-title">@ViewData["Title"]</h4>

            </div>

        </div>
    </div>
<hr />
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">

        <!-- Column -->
        <div class="col-lg-12 col-xlg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material" asp-action="editarSolicitud">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="IdSolicitud" />

                            <input type="hidden" asp-for="RStatus" />
                            <input type="hidden" name="paqueteback" value="@Model.RPaquete" />
                            <div class="form-group col-md-6">
                                <label class="control-label">Usuario</label>
                                <select id="usuario" required class="form-control js-example-basic-single" asp-items="ViewBag.usuarios">
                                    <option value="" selected disabled hidden>Seleccione una opción</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="RCliente" class="control-label">Institución</label>

                                <select asp-for="RCliente" id="institucion" required class="form-control js-example-basic-single">
                                    <option value="" selected disabled hidden>Seleccione una opción</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Paquetes</label>
                                <select asp-for="RPaquete" id="paquete" class="form-control js-example-basic-single" asp-items="ViewBag.paquetes">
                                    <option value="" selected disabled hidden>Seleccione una opción</option>
                                    <option value="0">Personalizado</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Cámaras</label>
                                <select name="camaras" id="camaras" placeholder="Seleccione una opción" required class="form-control js-example-basic-single" asp-items="ViewBag.camaras">
                                    <option value="" selected disabled hidden>Seleccione una opción</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Cantidad</label>
                                <input type="number" min="0" step="1" id="cantcamaras" name="cantcamaras" value="1" required class="form-control" />
                                <input type="hidden" id="costoCamara" value="0" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">DVR</label>
                                <select name="dvr" id="dvrs" required placeholder="Seleccione una opción" class="form-control js-example-basic-single" asp-items="ViewBag.dvrs">
                                    <option value="" selected disabled hidden>Seleccione una opción</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Cantidad</label>
                                <input type="number" value="1" min="0" step="1" id="cantdvr" name="cantdvr" required class="form-control" />
                                <input type="hidden" id="costoDvr" value="0" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Disco Duro</label>
                                <select name="discoduro" id="discoduros" required placeholder="Seleccione una opción" class="form-control js-example-basic-single" asp-items="ViewBag.discoduro">
                                    <option value="" selected disabled hidden>Seleccione una opción</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Cantidad</label>
                                <input type="number" value="1" min="0" step="1" id="cantdiscoduro" name="cantdiscoduro" required class="form-control" />
                                <input type="hidden" id="costoHDD" value="0" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Instalación</label>
                                <select name="instalacion" id="instalacion" placeholder="Seleccione una opción" required class="form-control js-example-basic-single" asp-items="ViewBag.instalacion">
                                    <option value="" selected disabled hidden>Seleccione una opción</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Cantidad</label>
                                <input type="number" value="1" min="0" step="1" id="cantinstalacion" name="cantinstalacion" required class="form-control" />
                                <input type="hidden" id="costoInstalacion" value="0" />
                            </div>

                            <div class="form-group col-md-12 text-center">
                                <label class="control-label">Costo del paquete:</label>
                                <input type="hidden" asp-for="PrecioSolicitud" id="precio" />
                                <p id="texto">$ 0</p>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-success">Editar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->

    <script>
        var control = 0;
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
            
            $("#usuario").change(function () {
                                var url = '@Url.Content("~/")' + "Solicitudes/getInstitucion";
                $.post(url, { id: $("#usuario").val() }, function (data) {
                            $("#institucion").empty();
                    $("#institucion").append(data);
                    if (control == 0) {
                        $("#institucion").select2("val", "@Model.RCliente.ToString()");
                        if (@Model.RPaqueteNavigation.EsPersonalizado== 1) {
                           $.ajax({

                url : '/Paquetes/getDatos?id=@Model.RPaquete',
                type : 'POST',

                dataType:'json',

                            success: function (data) {
                                $('.js-example-basic-single').select2();
                                if (data.data[0] == null) {
                                     $("#camaras").val("").trigger("change");
                                    $("#dvrs").val("").trigger("change");
                                    
                                    $("#discoduros").val("").trigger("change");
                    
                                    $("#instalacion").val("").trigger("change");

                                    $("#cantcamaras").val(1);
                                    $("#cantdvr").val(1);
                                    $("#cantdiscoduro").val(1);
                                    $("#cantinstalacion").val(1);
                                    
                                    $("#costoCamara").val(0);
                                    $("#costoDvr").val(0);
                                    $("#costoHDD").val(0);
                                    $("#costoInstalacion").val(0);
                                    actualiza();


                                $("#camaras").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#camaras").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoCamara").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoCamara").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#dvrs").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#dvrs").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoDvr").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoDvr").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#discoduros").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#discoduros").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoHDD").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoHDD").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#instalacion").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#instalacion").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoInstalacion").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoInstalacion").val(0);
                                            actualiza();
                                        }
                                    });
                                });
                                }
                                    
                     $("#camaras").select2("val", data.data[0].producto.toString());
                    
                    $("#dvrs").select2("val", data.data[1].producto.toString());
                    
                    $("#discoduros").select2("val", data.data[2].producto.toString());
                    
                    $("#instalacion").select2("val", data.data[3].producto.toString()); 
                    $("#cantcamaras").val(data.data[0].cantidad);
                    $("#cantdvr").val(data.data[1].cantidad);
                    $("#cantdiscoduro").val(data.data[2].cantidad);
                    $("#cantinstalacion").val(data.data[3].cantidad);


                    $("#texto").html("$" + data.total);

                    $("#precio").val(data.total)


                    $("#costoCamara").val(data.precios[0]);
                    $("#costoDvr").val(data.precios[1]);
                    $("#costoHDD").val(data.precios[2]);
                                $("#costoInstalacion").val(data.precios[3]);
 
                            $("#camaras").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#camaras").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoCamara").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoCamara").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#dvrs").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#dvrs").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoDvr").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoDvr").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#discoduros").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#discoduros").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoHDD").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoHDD").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#instalacion").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#instalacion").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoInstalacion").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoInstalacion").val(0);
                                            actualiza();
                                        }
                                    });
                                });
                },
                error : function(request,error)
                {
                    alert("Request: "+JSON.stringify(request));
                }
            });
                        } else {
                            $.ajax({

                url : '/Paquetes/getDatos?id='+$("#paquete").val(),
                type : 'POST',

                dataType:'json',

                            success: function (data) {
                                $('.js-example-basic-single').select2();
                                if (data.data[0] == null) {
                                     $("#camaras").val("").trigger("change");
                                    $("#dvrs").val("").trigger("change");
                                    
                                    $("#discoduros").val("").trigger("change");
                    
                                    $("#instalacion").val("").trigger("change");

                                    $("#cantcamaras").val(1);
                                    $("#cantdvr").val(1);
                                    $("#cantdiscoduro").val(1);
                                    $("#cantinstalacion").val(1);
                                    
                                    $("#costoCamara").val(0);
                                    $("#costoDvr").val(0);
                                    $("#costoHDD").val(0);
                                    $("#costoInstalacion").val(0);
                                    actualiza();


                                $("#camaras").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#camaras").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoCamara").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoCamara").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#dvrs").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#dvrs").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoDvr").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoDvr").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#discoduros").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#discoduros").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoHDD").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoHDD").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#instalacion").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#instalacion").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoInstalacion").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoInstalacion").val(0);
                                            actualiza();
                                        }
                                    });
                                });
                                }
                                    
                     $("#camaras").select2("val", data.data[0].producto.toString());
                    
                    $("#dvrs").select2("val", data.data[1].producto.toString());
                    
                    $("#discoduros").select2("val", data.data[2].producto.toString());
                    
                    $("#instalacion").select2("val", data.data[3].producto.toString()); 
                    $("#cantcamaras").val(data.data[0].cantidad);
                    $("#cantdvr").val(data.data[1].cantidad);
                    $("#cantdiscoduro").val(data.data[2].cantidad);
                    $("#cantinstalacion").val(data.data[3].cantidad);


                    $("#texto").html("$" + data.total);

                    $("#precio").val(data.total)


                    $("#costoCamara").val(data.precios[0]);
                    $("#costoDvr").val(data.precios[1]);
                    $("#costoHDD").val(data.precios[2]);
                                $("#costoInstalacion").val(data.precios[3]);
 
                            $("#camaras").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#camaras").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoCamara").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoCamara").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#dvrs").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#dvrs").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoDvr").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoDvr").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#discoduros").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#discoduros").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoHDD").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoHDD").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#instalacion").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#instalacion").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoInstalacion").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoInstalacion").val(0);
                                            actualiza();
                                        }
                                    });
                                });
                },
                error : function(request,error)
                {
                    alert("Request: "+JSON.stringify(request));
                }
                            });

                        }
        
                         
                        control++;
                    }
                                    });
            });

            
            $("#usuario").select2("val", "@Model.RClienteNavigation.RUsuarioNavigation.IdUsuario.ToString()");
          
           
        });

        $("#paquete").change(function () {
                                            $("#camaras").off("change");
                                $("#dvrs").off("change");
                                $("#discoduros").off("change");
                                $("#instalacion").off("change");
                        $.ajax({

                url : '/Paquetes/getDatos?id='+$("#paquete").val(),
                type : 'POST',

                dataType:'json',

                            success: function (data) {
                                $('.js-example-basic-single').select2();
                                if (data.data[0] == null) {
                                     $("#camaras").val("").trigger("change");
                                    $("#dvrs").val("").trigger("change");
                                    
                                    $("#discoduros").val("").trigger("change");
                    
                                    $("#instalacion").val("").trigger("change");

                                    $("#cantcamaras").val(1);
                                    $("#cantdvr").val(1);
                                    $("#cantdiscoduro").val(1);
                                    $("#cantinstalacion").val(1);
                                    
                                    $("#costoCamara").val(0);
                                    $("#costoDvr").val(0);
                                    $("#costoHDD").val(0);
                                    $("#costoInstalacion").val(0);
                                    actualiza();


                                $("#camaras").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#camaras").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoCamara").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoCamara").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#dvrs").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#dvrs").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoDvr").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoDvr").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#discoduros").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#discoduros").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoHDD").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoHDD").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#instalacion").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#instalacion").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoInstalacion").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoInstalacion").val(0);
                                            actualiza();
                                        }
                                    });
                                });
                                }
                                    
                     $("#camaras").select2("val", data.data[0].producto.toString());
                    
                    $("#dvrs").select2("val", data.data[1].producto.toString());
                    
                    $("#discoduros").select2("val", data.data[2].producto.toString());
                    
                    $("#instalacion").select2("val", data.data[3].producto.toString()); 
                    $("#cantcamaras").val(data.data[0].cantidad);
                    $("#cantdvr").val(data.data[1].cantidad);
                    $("#cantdiscoduro").val(data.data[2].cantidad);
                    $("#cantinstalacion").val(data.data[3].cantidad);


                    $("#texto").html("$" + data.total);

                    $("#precio").val(data.total)


                    $("#costoCamara").val(data.precios[0]);
                    $("#costoDvr").val(data.precios[1]);
                    $("#costoHDD").val(data.precios[2]);
                                $("#costoInstalacion").val(data.precios[3]);
 
                            $("#camaras").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#camaras").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoCamara").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoCamara").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#dvrs").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#dvrs").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoDvr").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoDvr").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#discoduros").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#discoduros").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoHDD").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoHDD").val(0);
                                            actualiza();
                                        }
                                    });
                                });

                                $("#instalacion").change(function () {
                                var url = '@Url.Content("~/")' + "Paquetes/getPrecioProducto";
                                    $.post(url, { id: $("#instalacion").val() }, function (data) {
                                        if (data > 0) {
                                            $("#costoInstalacion").val(data);
                                            actualiza();
                                        }
                                        else {
                                            $("#costoInstalacion").val(0);
                                            actualiza();
                                        }
                                    });
                                });
                },
                error : function(request,error)
                {
                    alert("Request: "+JSON.stringify(request));
                }
            });

        });

        function actualiza() {
            var camaras = $("#costoCamara").val() * $("#cantcamaras").val();
            var dvr = $("#costoDvr").val() * $("#cantdvr").val();
            var hdd = $("#costoHDD").val() * $("#cantdiscoduro").val();
            var instalacion = $("#costoInstalacion").val() * $("#cantinstalacion").val();
            var total = parseFloat(camaras) + parseFloat(dvr) + parseFloat(hdd) + parseFloat(instalacion);
            $("#texto").html("$" + total);
            $("#precio").val(total);
        }

        $("#cantcamaras").change(function () {
            actualiza();
        });

        $("#cantdvr").change(function () {
            actualiza();
        });

        $("#cantdiscoduro").change(function () {
            actualiza();
        });

        $("#cantinstalacion").change(function () {
            actualiza();
        });

      
    </script>
</div>


